---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="text-center w-full">
  <h2 class="text-3xl md:text-4xl font-light tracking-widest text-white uppercase mb-4" id={title.toLowerCase().replace(' ', '-')} >
    {title}
  </h2>
  <div class="h-1 w-24 bg-white mx-auto mb-16"></div>
</div>